.import-export
{
    padding: 20px;
}

.filename-input
{
    display: inline-block;
    padding: 2px;
    margin: 3px;
}

.filename-submit
{
    display: inline-block;
    padding: 2px;
    margin: 3px;
}

.merge-import
{
    display: block;
    padding: 2px;
    margin: 3px;
}

input {
	margin: 0;
	padding: 0;
}
