/*
This styling has been derived from http://www.sitepoint.com/css3-sliding-menu/
*/
#sidebar
{
    position: fixed;
    width: 224px;
    left: -224px;
    top: 0;
    background:#555;
         background: -o-linear-gradient(left, #888, #555);
        background: -ms-linear-gradient(left, #888, #555);
       background: -moz-linear-gradient(left, #888, #555);
    background: -webkit-linear-gradient(left, #888, #555);
    background: -webkit-gradient(linear, left top, right top, from(#888), to(#555));
    box-shadow: 4px 0 5px rgba(0,0,0,0.2);
    z-index: 1;
    cursor: pointer;
}
#sidebar:after
{
    position: absolute;
    content: ' ';
    width: 0;
    height: 0;
    right: -40px;
    top: 50%;
    border-width: 30px 20px;
    border-style: solid;
    border-color: transparent transparent transparent rgba(136, 136, 136, 0.3);
}
#sidebar:hover
{
    left: 0;
}
#sidebar ul
{
    width: 224px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#sidebar a:link, #sidebar a:visited
{
	display: block;
	width: 100%;
	line-height: 40px;
	text-indent: 10px;
	text-decoration: none;
	color: #555;
	outline: 0 none;
    float: left;
}

#sidebar a:hover, #sidebar a:focus
{
	color: #fff;
	background-color: #555;
	text-shadow: 0 0 4px #fff;
	box-shadow: inset 0 2px 2px rgba(0,0,0,0.2);
}
/*
For nested menu items, see:
http://www.adam-bray.com/blog/91/easy-html-5-css-3-navigation-menu/
http://codepen.io/lawnch/pen/LKsez
*/
#sidebar > ul > li > div
{
    background-color: rgb( 85, 85, 85 );
    display: none;
    margin: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 224px;
    visibility: hidden;

    -webkit-transiton: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    -ms-transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
    -transition: opacity 0.2s;
}
#sidebar > ul > li:hover > div {
    display: block;
    z-index: 2;
    opacity: 1;
    visibility: visible;
}