section.stats {
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    padding-top: 28px;
    background: #444;
    border-top: 1px solid #555;
}
div#stats-area {
    height: 162px;
    background: #222;
    border-top: 1px solid #555;
    overflow-x: auto;
    overflow-y: auto;
}
table#stats-table {
    width: 100%;
    color: #fff;
    border-spacing: 0px;
}
td + td {
  border-left: 1px solid #444;
}
/*
td, th {
  border-bottom:1px solid #444;
  background: #222;
  color: #fff;
  padding: 0px 25px;
}
*/
th {
    height: 0;
    line-height: 0;
    color: transparent;
    border: none;
    white-space: nowrap;
}
th div {
    position: absolute;
    background: transparent;
    color: #fff;
    padding: 5px 15px;
    top: 0;
    margin-left: -15px;
    line-height: normal;
    border-left: 1px solid #555;
}
th:first-child div{
  border: none;
}
td, th {
    padding: 0px 15px;
}
