html *
{
   font-size: 16px !important;
   font-family: 'Trebuchet MS', sans-serif !important;
}

body {
    background: #000;
    overflow-x: hidden;
}

canvas#world {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: -webkit-linear-gradient(top, #555 0%, #444 20%, #333 100%);
    background: -moz-linear-gradient(top, #555 0%, #444 20%, #333 100%);

    overflow: auto;
    z-index: 0;
    -webkit-transform-origin: 0 50%;
    -moz-transform-origin: 0 50%;
    -ms-transform-origin: 0 50%;
    -o-transform-origin: 0 50%;
    transform-origin: 0 50%;
}
canvas#world:after
{
    position: absolute;
    content: ' ';
    left: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    background-image: -webkit-linear-gradient(right, rgba(0,0,0,0.2) 0%, transparent 100%);
    background-image: -moz-linear-gradient(right, rgba(0,0,0,0.2) 0%, transparent 100%);
    background-image: -ms-linear-gradient(right, rgba(0,0,0,0.2) 0%, transparent 100%);
    background-image: -o-linear-gradient(right, rgba(0,0,0,0.2) 0%, transparent 100%);
    background-image: linear-gradient(right, rgba(0,0,0,0.2) 0%, transparent 100%);
    pointer-events: none;
}

canvas#diagram {
    top: 0px;
    left: 0px;
    background: -webkit-linear-gradient(top, #555 0%,#333 50%, #111 100%);
    background: -moz-linear-gradient(top, #555 0%, #333 50%, #111 100%);
}

canvas#pov, canvas#graph {
    top: 0px;
    left: 0px;
    background: -webkit-linear-gradient(top, #555 0%,#444 50%, #333 100%);
    background: -moz-linear-gradient(top, #555 0%, #444 50%, #333 100%);
}

span#time {
    top: 0;
    float: right;
    padding: 5px;
    color: white;
    text-shadow: 2px 2px 2px #000;
    text-align: right;
    opacity: 0.3;
            transition: opacity .3s linear;
         -o-transition: opacity .3s linear;
       -moz-transition: opacity .3s linear;
    -webkit-transition: opacity .3s linear;
            transform: translateZ(0);
         -o-transform: translateZ(0);
       -moz-transform: translateZ(0);
    -webkit-transform: translateZ(0);
}
span#time:hover {
    opacity: 1.0;
}
